.search-segment {
    padding: 30px 15px;
    background-color: #bbb;
    margin: auto;
    width: 50vw;
}
  
  
label {
    font-size:14px;
    display: block;
    margin:3px;
}
  
.sign-up{
    margin:0;
}