.search-segment {
    padding: 30px 15px;
    background-color: #bbb;
    margin: auto;
}
  
.search-segment:nth-child(even){
    background-color: #ddd;
}
  
.search-segment:last-child{
    margin-bottom:40px;
}
  
  
label {
    font-size:14px;
    display: block;
    margin:3px;
}
  
.sign-up{
    margin:0;
}