.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5);
  z-index: 10;
}

.popup_inner {
  overflow-y: scroll;
  height: 300px;
  width: 260px;
  margin: auto;
  padding-left: 10px; /* offset the scrollbar width, to keep form centered */
  margin-top: 25vh;
  border-radius: 10px;
  background-color: #F2C49B;
  z-index: 11;
}

.popup_inner h2{
  margin: 0;
  margin-top: 20px;
}

.slogan{
  filter:blur(0px);
  display: block;
  margin-top: 33vh;
  margin-bottom:50vh; /* messing with this moves the footer :S idk */
  padding: 0;
  color: #F0F0F2;
  text-shadow: 0px 3px 10px rgba(119, 119, 119, 0.493);
}

h1.slogan-text{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 6em;
  font-weight: 700;
}

h2.slogan-text{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 2.2em;
  font-weight: 100;
  line-height: 0;
  letter-spacing: 4px; 
}

.sign-up-button{
    margin-top: 20px;
    border-radius: 5px;
    font-size:20px;
  }

.splash-background{  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter:blur(2px);
  background-image: 
    linear-gradient(
      rgba(136, 136, 136, 0.3), /* tint the color to match theme  */
      rgba(134, 134, 134, 0.158)
    ),
    url("../../../imgs/IMG_1745.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
}