* {
  box-sizing: border-box;
}

body {
  background-color: rgb(165, 113, 67);
  margin:0;
  padding:0;
  text-align: center;
}

.app-container{
  min-height:80%; /* get footer working on splash page */
  margin: 0 auto -20px;
}

.button{
  padding: 3vw;
  margin: auto;
  display: block;
}
  
.search-now{
    margin-bottom: 45px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track{
  margin-top: 5px;
  margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0,0,0,.5);
}
  
label {
    font-size:14px;
    display: block;
    margin:3px;
}