* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  text-align: center;
  min-height: 100vh;
}

.root{
  position: relative;
  min-height: 100vh;
}

.app-container{
  position: relative;
  padding-bottom: 20px;
  min-height: 100vh;
}

.footer {
  position: absolute;
  bottom:0;
  width:100%;
  height:28px;
  text-align: center;
  color: #F0F0F2;
}

footer a{
  margin:0 5px 0 5px;
  color: #F0F0F2;
  text-decoration: none;
}

.fab, .fas, .fa {
  font-size: 22px;
}

ul{
    margin: 25px auto;
    padding: 0;
}

li{
    list-style: none;
    text-align: center;
}

img{
    display: block;
    margin: auto;
}


.button{
  padding: 3vw;
  margin: auto;
  display: block;
}
  
.search-now{
    margin-bottom: 45px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track{
  margin-top: 5px;
  margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0,0,0,.5);
}
  
label {
    font-size:14px;
    display: block;
    margin:3px;
}

.content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background:#F0F0F2;
  margin: 10vh auto 15vh auto;
  width: 75%;
  padding: 30px 10px 45px 10px;
  border-radius: 4px;
  
  box-shadow: 0px 5px 10px rgba(102, 102, 102, 0.368);
}

.tile-background{
  position: fixed;
  background: #BF946F;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter:blur(1px);
  background-image: 
  linear-gradient(
    rgba(88, 30, 30, 0.15), /* tinted so text stands out */
    rgba(100, 34, 34, 0.349)
  ),
  url("../../imgs/mosaic-parquet-oak.jpg");
  background-repeat: repeat;
  background-size: 350px;
  z-index:-1;
}

.splash-background{  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter:blur(2px);
  background-image: 
    linear-gradient(
      rgba(104, 103, 103, 0.3), /* tinted so text stands out */
      rgba(134, 134, 134, 0.158)
    ),
    url("../../imgs/IMG_1745.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
}
header {
  position: relative;
}


nav {
  position: fixed;
  height: 45px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.text-shadow{
  text-shadow: 0px 2px 10px rgba(102, 102, 102, 0.568);
}

.logo{
  float:left;
  font-family: 'Lato', sans-serif;
  text-align:center;
  margin-top: 6px;
  margin-left: 20px;

  font-size: 2.3em;
  font-weight: 900;
  color: #F0F0F2;
  text-decoration: none;
  letter-spacing: -2px;
  line-height: 1.5em;
}

.log-button, .account-button{
  font-family: 'Raleway', sans-serif;
  -webkit-appearance: none;
  background-color: transparent;
  border-style: none;
  position: relative;
  letter-spacing: -1px;
  line-height: 1.5em;
  top: 20px;
  font-weight: 500;
  padding: 0px 6px;
  border-radius: 2px;
  float:right;
  color: #F0F0F2;
  font-size: 1.3em;
  text-decoration: none;
}

.log-button{
  right: 20px;
}

.log-button:hover{
  cursor: pointer;
}
.account-button{
  right: 35px;
}
.account-button:hover{
  cursor: pointer;
} 

.button-wrap{
  margin: 10px auto;
}

.close-popup{
  position: sticky;
  float: right;
  margin-right: 10px;
  top: 10px;
}


.error-text{
  color: red;
}

@media only screen and (min-width: 750px) {

  .content-container {
    display: flex;
    flex-direction: row;
    min-width: 600px;
    max-width: 910px;
    justify-content: space-evenly;
  }

  .log-button, .account-button{
    letter-spacing: 0px;
    top: 20px;
    font-size: 1.7em;
  }
  .logo{
    transition: .4s;
    font-size: 3em;
    letter-spacing: -1px;
  }
  .fab, .fas, .fa {
    font-size: 32px;
  }
  .footer {
    height:48px;
  }
}