header {
  margin: 45px;
}


nav {
  position: fixed;
  height: 45px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo{
  padding: 10px 10px;
  float:left;
  text-align:center;
  color: #E4F2F1;
  text-decoration: none;
}

.nav-button{
  margin: 13px;
  float:right;
}