.rent-text{
    font-size: 4em;
    margin: 0;
}

.judge-buttons{
    margin-left: 10px;
    margin-right: 10px;
}

.about-blurb{
    margin: 10px 0;
}

.sub-rent-text{
    margin-top: 0;
    margin-bottom: 30px;
}