
.home-div {
  margin: 95px 45px 45px 45px;
}
  
.display-pic-sec {
  min-height:300px;
}


.pic{
  display: inline-block;
  background: #eee;
  margin: 10px;
  width: 300px;
}

ul{
    margin: auto;
    padding: 0;
}

li{
    list-style: none;
    text-align: center;
}

img{
    display: block;
    margin: auto;
}
