
  
.home-div {
    padding: 30px 15px;
    background-color: #bbb;
  }
  
  .home-div:nth-child(even) {
    background-color: #ddd;
  }
  
  .display-pic-sec {
    min-height:300px;
  }
  
  
  .pic{
    display: inline-block;
    background: #eee;
    margin: 10px;
    width: 40vw;
    height: 40vw;
  }
  
  h1{
    display: inline-block;
  }
  
  span{
    margin:0px;
  }

  ul{
      margin: 0 auto;
      padding: 0;
  }

  li{
      list-style: none;
      text-align: center;
  }

  img{
      display: block;
      margin: 0 auto;
  }

