.pic{
  display: inline-block;
  background: #eee;
  width: 100%;
}
.banner-text{
  color: #323238;
  font-size: 1.5em;
  line-height: 1;
}

.banner-text-description{
  color: #323238;
  font-size: 1em;
  margin: 0;
}

.pic-wrap{
  margin: 25px;
}

.convo-ul{
  position: relative;
  width: 60%;
  margin: 0;
  left: 20vw;
}

.convo-li{
  text-align: left;
  text-justify: left;
  margin: 10px;
}