
li{
    list-style: none;
    width:  100%;
    display: block;
    margin: 0;
    padding: 20px;
  }
  
  ul{
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    
    width:  100%;
  }
  
  .search-now{
    width:33%;
    height:50px;
  }