.result-list-item{
  margin-bottom: 45px;
}

.result-header{
  margin: auto;
  margin-top: 70px;
  font-size: 2em;
  color: #323238;
  padding: 10px;
  background: #F0F0F2;
  border-radius: 4px;
  width: 50%;
}

.results-container{
  margin: 45px auto;
}

.result-name{
  color: #323238;
  font-size: 1.2em;
  margin: 10px;
}

.result-rent{
  font-size: 1.5em;
  margin: 0
}

.result-info{
  margin:10px;
}

.result-search-again-wrap{
  margin-top: -65px;
  margin-bottom: 65px;
}

.result-bottom{
  margin-bottom: 55px;
}

@media only screen and (min-width: 800px) {
  .container-wrap{
    size: 2em;
  }
}