
.convo-page-div {
}
.convo-page-div:last-child{
    margin-bottom:40px;
}  
  
.convo-pic{
    display: inline-block;
    background: #eee;
    margin: 10px;
    width: 150px;
    max-width: 500px;
}
.comment-li {
    list-style: none;
    width:  100%;
    display: block;
    margin: 0;
  }
  
/* 
ul{
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    width:  100%;
} */
  
  
q{
    display: block;
    margin: 0 auto;
    padding: 12px;
    width:80%;
}

.user{
    position: relative;
    margin: 0;
    float: left;
    left: 53%;
}
  
.comment-textarea{
    max-width:  85%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    height: 50px;
}
  
.comment-text {
}

.send-message-button{
}