
.convo-page-div {
}
.convo-page-div:last-child{
    margin-bottom:40px;
}  
  
.convo-pic{
    display: inline-block;
    background: #eee;
    margin: 10px;
    width: 150px;
    max-width: 500px;
}

.comment-ul{
    width: 60%;
    margin: auto;
}

.comment-li {
    list-style: none;
    display: block;
    left: 40px;
    text-align: left;
    word-wrap: break-word;
  }
  

/* 
ul{
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    width:  60%;
} 
*/
  

.user{
    position: relative;
    margin: 0;
    float: left;
    left: 53%;
}
  
.comment-textarea{
    width:  250px;
    display: inline-block;
    margin: 0 auto;
    height: 50px;
    vertical-align: middle;
    resize: none;
}