.convo-page-div:last-child{
    margin-bottom:40px;
}  
  
.convo-pic{
    display: inline-block;
    background: #eee;
    margin: 10px;
    width: 150px;
    max-width: 500px;
}

.comment-ul{
    width: 60%;
    margin: auto;
}

.comment-li {
    list-style: none;
    display: block;
    left: 40px;
    text-align: left;
    word-wrap: break-word;
}

.comment-container{
    margin: 35px;
    width: 250px;
}

.user{
    position: relative;
    margin: 0;
    float: left;
    left: 53%;
}
  
.comment-textarea{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    height: 50px;
    vertical-align: middle;
    resize: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}